@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
<link href="~/Content/assests/styles/stylebanner.css" rel="stylesheet" />

<style>
    .owl-carousel.item {
        width: 100%;
        max-width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

        .owl-carousel.item img {
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;
        }

    .ad-container {
        position: fixed;
        top: 125px;
        width: 160px;
        height: 150px;
    }

        .ad-container > div {
            margin: 0 5px;
            padding: 0;
            position: relative;
        }

            .ad-container > div > a > img {
                max-width: 100%;
                height: auto;
            }

    #ads-trai {
        left: 0;
    }

    #ads-phai {
        right: 0;
    }


    .main1 body {
        overflow: hidden;
        height: 100%;
        display: grid;
        place-items: center;
        margin: 0;
    }

    .main1 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr auto;
        gap: 0px 0px;
        grid-template-areas: "main main main main main main main" ". i1 i2 i3 i4 i5 .";
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;
        width: 100%;
        border: 2px solid black;
        background-color: black;
    }

    .gallery {
        grid-area: main;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        width: 80vmin;
        height: 80vmin;
        --pos: 0;
    }

        .gallery > div {
            overflow: hidden;
            background-color: white;
            width: 20vmin;
            height: 20vmin;
            display: flex;
        }

            .gallery > div > div {
                flex: 1 0 auto;
                width: 100%;
                height: 100%;
                background-size: 80vmin auto;
                transition: transform 0.5s ease-in-out;
                background-position: calc(var(--xpos) * -1vmin) calc(var(--ypos) * -1vmin);
            }

            .gallery > div:nth-of-type(4n + 1) > div {
                --xpos: 0;
            }

            .gallery > div:nth-of-type(1) > div {
                --ypos: 0;
            }

            .gallery > div:nth-of-type(5) > div {
                --ypos: 20;
            }

            .gallery > div:nth-of-type(9) > div {
                --ypos: 40;
            }

            .gallery > div:nth-of-type(13) > div {
                --ypos: 60;
            }

            .gallery > div:nth-of-type(4n + 2) > div {
                --xpos: 20;
            }

            .gallery > div:nth-of-type(2) > div {
                --ypos: 0;
            }

            .gallery > div:nth-of-type(6) > div {
                --ypos: 20;
            }

            .gallery > div:nth-of-type(10) > div {
                --ypos: 40;
            }

            .gallery > div:nth-of-type(14) > div {
                --ypos: 60;
            }

            .gallery > div:nth-of-type(4n + 3) > div {
                --xpos: 40;
            }

            .gallery > div:nth-of-type(3) > div {
                --ypos: 0;
            }

            .gallery > div:nth-of-type(7) > div {
                --ypos: 20;
            }

            .gallery > div:nth-of-type(11) > div {
                --ypos: 40;
            }

            .gallery > div:nth-of-type(15) > div {
                --ypos: 60;
            }

            .gallery > div:nth-of-type(4n + 4) > div {
                --xpos: 60;
            }

            .gallery > div:nth-of-type(4) > div {
                --ypos: 0;
            }

            .gallery > div:nth-of-type(8) > div {
                --ypos: 20;
            }

            .gallery > div:nth-of-type(12) > div {
                --ypos: 40;
            }

            .gallery > div:nth-of-type(16) > div {
                --ypos: 60;
            }

            .gallery > div > div {
                background-position: calc(var(--xpos) * -1vmin) calc(var(--ypos) * -1vmin);
            }

    input {
        margin: 20px;
    }

        input:nth-of-type(1) {
            grid-area: i1;
        }

        input:nth-of-type(2) {
            grid-area: i2;
        }

        input:nth-of-type(3) {
            grid-area: i3;
        }

        input:nth-of-type(4) {
            grid-area: i4;
        }

        input:nth-of-type(5) {
            grid-area: i5;
        }

        input:nth-of-type(1):checked ~ .gallery {
            --pos: 0;
        }

        input:nth-of-type(2):checked ~ .gallery {
            --pos: 20;
        }

        input:nth-of-type(3):checked ~ .gallery {
            --pos: 40;
        }

        input:nth-of-type(4):checked ~ .gallery {
            --pos: 60;
        }

        input:nth-of-type(5):checked ~ .gallery {
            --pos: 80;
        }

    .north {
        flex-direction: column;
    }

    .east {
        flex-direction: row;
    }

    .south {
        flex-direction: column-reverse;
    }

    .west {
        flex-direction: row-reverse;
    }

    .north > div {
        transform: translateY(calc(var(--pos) * -1vmin));
    }

    .east > div {
        transform: translateX(calc(var(--pos) * -1vmin));
    }

    .south > div {
        transform: translateY(calc(var(--pos) * 1vmin));
    }

    .west > div {
        transform: translateX(calc(var(--pos) * 1vmin));
    }
</style>

<div class="scenes" tabindex="0">
    <div class="scene-1">
        <h2 class="scene-title"></h2>
    </div>
    <div class="scene-2">
        <h2 class="scene-title"></h2>
    </div>
</div>


<div id='ads-trai' class='ad-container'>
    <div>
        <a href='#'><img src='http://farm6.staticflickr.com/5759/31081343902_b95bee4751_o.png' /></a>
    </div>
</div>

<div id='ads-phai' class='ad-container'>
    <div>
        <a href='#'><img src='http://farm6.staticflickr.com/5759/31081343902_b95bee4751_o.png' /></a>
    </div>
</div>

<!-- Banner -->
@Html.Action("MenuProductCategory", "Menu")
<!-- New Arrivals -->

<div class="new_arrivals">
    <div class="row">
        <div class="col text-center">
            <div class="section_title new_arrivals_title">
                <h2>New Arrivals</h2>
            </div>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col text-center">
            <div class="new_arrivals_sorting">
                <ul class="arrivals_grid_sorting clearfix button-group filters-button-group">
                </ul>
            </div>
        </div>
    </div>
    @*@Html.Action("MenuArrivals", "Menu")*@
    @Html.Action("Partial_ItemsByCateId", "Product", new { alias = ViewBag.SelectedAlias })

</div>

<div></div>

<!-- Deal of the week -->

<div class="deal_ofthe_week">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="deal_ofthe_week_img">
                    <img src="/Uploads/images/hihu.jpg" />
                </div>
            </div>
            <div class="col-lg-6 text-right deal_ofthe_week_col">
                <div class="deal_ofthe_week_content d-flex flex-column align-items-center float-right">
                    <div class="section_title">
                        @*<h2>Deal Of The Week</h2>*@
                    </div>
                    <ul class="timer">
                        <li class="d-inline-flex flex-column justify-content-center align-items-center">
                            <div id="day" class="timer_num">03</div>
                            <div class="timer_unit">Day</div>
                        </li>
                        <li class="d-inline-flex flex-column justify-content-center align-items-center">
                            <div id="hour" class="timer_num">15</div>
                            <div class="timer_unit">Hours</div>
                        </li>
                        <li class="d-inline-flex flex-column justify-content-center align-items-center">
                            <div id="minute" class="timer_num">45</div>
                            <div class="timer_unit">Mins</div>
                        </li>
                        <li class="d-inline-flex flex-column justify-content-center align-items-center">
                            <div id="second" class="timer_num">23</div>
                            <div class="timer_unit">Sec</div>
                        </li>
                    </ul>
                    <div class="red_button deal_ofthe_week_button"><a href="#">shop now</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Best Sellers -->
<div class="new_arrivals">
    <div class="container">
        @Html.Action("MenuSales", "Menu")
    </div>
</div>
<!-- Benefit -->

<div class="benefit">
    <div class="container">
        <div class="row benefit_row">
            <div class="col-lg-3 benefit_col">
                <div class="benefit_item d-flex flex-row align-items-center">
                    <div class="benefit_icon"><i class="fa fa-truck" aria-hidden="true"></i></div>
                    <div class="benefit_content">
                        <h6>free shipping</h6>
                        <p>Suffered Alteration in Some Form</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 benefit_col">
                <div class="benefit_item d-flex flex-row align-items-center">
                    <div class="benefit_icon"><i class="fa fa-money" aria-hidden="true"></i></div>
                    <div class="benefit_content">
                        <h6>cash on delivery</h6>
                        <p>The Internet Tend To Repeat</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 benefit_col">
                <div class="benefit_item d-flex flex-row align-items-center">
                    <div class="benefit_icon"><i class="fa fa-undo" aria-hidden="true"></i></div>
                    <div class="benefit_content">
                        <h6>return now</h6>
                        <p>Making it Look Like Readable</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 benefit_col">
                <div class="benefit_item d-flex flex-row align-items-center">
                    <div class="benefit_icon"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
                    <div class="benefit_content">
                        <h6>opening all week</h6>
                        <p>7AM - 9.30PM</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Thumbnail navigation -->
<!-- Blogs -->
<div class="blogs">
    <div class="container">
        @Html.Action("MenuNews", "Menu")
    </div>
</div>
@*<div class="blogs">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <div class="section_title">
                        <h2>Latest Blogs</h2>
                    </div>
                </div>
            </div>
            <div class="row blogs_container">
                <div class="col-lg-4 blog_item_col">
                    <div class="blog_item">
                        <div class="blog_background" style="background-image:url(images/blog_1.jpg)"></div>
                        <div class="blog_content d-flex flex-column align-items-center justify-content-center text-center">
                            <h4 class="blog_title">Here are the trends I see coming this fall</h4>
                            <span class="blog_meta">by admin | dec 01, 2017</span>
                            <a class="blog_more" href="#">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 blog_item_col">
                    <div class="blog_item">
                        <div class="blog_background" style="background-image:url(images/blog_2.jpg)"></div>
                        <div class="blog_content d-flex flex-column align-items-center justify-content-center text-center">
                            <h4 class="blog_title">Here are the trends I see coming this fall</h4>
                            <span class="blog_meta">by admin | dec 01, 2017</span>
                            <a class="blog_more" href="#">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 blog_item_col">
                    <div class="blog_item">
                        <div class="blog_background" style="background-image:url(images/blog_3.jpg)"></div>
                        <div class="blog_content d-flex flex-column align-items-center justify-content-center text-center">
                            <h4 class="blog_title">Here are the trends I see coming this fall</h4>
                            <span class="blog_meta">by admin | dec 01, 2017</span>
                            <a class="blog_more" href="#">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="owl.carousel.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="path-to/owl.carousel.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
<script>
    $(document).ready(function () {
        $(".owl-carousel").owlCarousel({
            items: 1, // Number of items to display in the carousel
            loop: true, // Infinite loop
            autoplay: true, // Auto-play
            nav: false, // Show custom navigation arrows
            navText: [
                "<i class='fa-solid fa-angles-left'></i>",
                "<i class='fa-solid fa-angles-right'></i>"
            ],
            dots: true, // Display navigation dots
            autoplayTimeout: 3000,
        });
        $("#prevButton").click(function () {
            $(".owl-carousel").trigger('prev.owl.carousel');
        });

        // Xử lý sự kiện click cho nút Next
        $("#nextButton").click(function () {
            $(".owl-carousel").trigger('next.owl.carousel');
        });
    });


</script>
