@model IEnumerable<Webbanhangonline.Models.ShoppingCartItem>
@using Webbanhangonline.Common

@if (Model != null && Model.Any())
{
    <h3>Đơn hàng<span style="float:right;"><small>@Model.Count()</small></span></h3>
    var tongtien = decimal.Zero;
    <div style="border:1px solid #808080;">
        <table class="table">
            @foreach (var items in Model)
            {
                tongtien += items.totalprice;
                <tr>
                    <td>@items.ProductName</td>
                    <td>@Common.FormatNumber(items.price * items.Quantity, 0)</td>
                </tr>
            }
            <tr>
                <td>Tổng tiền</td>
                <td>@Common.FormatNumber(tongtien, 0)</td>
            </tr>
        </table>

    </div>


}
else
{

}



