
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/assests/styles/cssintro.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

<section class="introhihi">
    <div class="grid">
        <div class="introcl">
            <img src="/Uploads/images/giay1.jpg" alt="">
            <img src="/Uploads/images/giay2.jpg" alt="">
            <img src="/Uploads/images/giay3.jpg" alt="">
            <img src="/Uploads/images/giphy.gif" alt="">

        </div>
        <div class="introcl">
            <img src="/Uploads/images/giay5.jpg" alt="">
            <img src="/Uploads/images/giphy.gif" alt="">
            <img src="/Uploads/images/giay7.jpg" alt="">
            <img src="/Uploads/images/giay8.jpg" alt="">
            <img src="/Uploads/images/giay9.jpg" alt="">
            <img src="/Uploads/images/giay10.jpg" alt="">
            <img src="/Uploads/images/giay6.jpg" alt="">
        </div>
        <div class="introcl">
            <img src="/Uploads/images/giay11.jpg" alt="">
            <img src="/Uploads/images/giay12.jpg" alt="">
            <img src="/Uploads/images/giay13.jpg" alt="">
            <img src="/Uploads/images/yttt.gif" alt="">
            <img src="/Uploads/images/giay14.jpg" alt="">
            <img src="/Uploads/images/giay15.jpg" alt="">
            <img src="/Uploads/images/giay16.jpg" alt="">
        </div>
        <div class="introcl">
            <img src="/Uploads/images/giay2.jpg" alt="">
            <img src="/Uploads/images/giay5.jpg" alt="">
            <img src="/Uploads/images/giay17.jpg" alt="">
            <img src="/Uploads/images/hihi.gif" alt="">
            <img src="/Uploads/images/giay4.jpg" alt="">
            <img src="/Uploads/images/giphy.gif" alt="">
            <img src="/Uploads/images/giay6.jpg" alt="">
        </div>
        <div class="introcl">
            <img src="/Uploads/images/giay8.jpg" alt="">
            <img src="/Uploads/images/hihi.gif" alt="">
            <img src="/Uploads/images/giphy.gif" alt="">
            <img src="/Uploads/images/giay16.jpg" alt="">
        </div>
    </div>
</section>
@section scripts{
    <script src="./script.js"></script>

}