
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutLogin.cshtml";
}

<h2>ForgotPassword</h2>
<form method="post" action="@Url.Action("VerifyPhoneNumber", "DangNhap")">
    @Html.AntiForgeryToken()
    <div class="inputBox">
        <input type="text" name="phoneNumber" required>
        <i>Phone Number</i>
    </div>
    <br />
    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <div class="error-message" style="color:red;">
            @ViewBag.ErrorMessage
        </div>
    }
    <br />
    <div class="inputBox">
        <input type="submit" value="Verify">
    </div>
</form>
