@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutLogin.cshtml";
}

<form method="post" action="@Url.Action("Check", "DangNhap")">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="inputBox">
        <input type="text" name="username" required>
        <i>Username</i>
    </div>
    <br />
    <div class="inputBox">
        <input type="password" name="password" required>
        <i>Password</i>
    </div>
    <br />
    <div class="links">
        <a href="@Url.Action("ForgotPassword", "DangNhap")">Forgot Password</a>
    </div>
    <br />
    <div class="inputBox">
        <input type="submit" value="Login">
    </div>
</form>
