
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutLogin.cshtml";
}

<h2>ResetPassword</h2>
<form method="post" action="@Url.Action("ResetPassword", "DangNhap")">
    @Html.AntiForgeryToken()
    <div class="inputBox">
        <input type="password" name="newPassword" required>
        <i>New Password</i>
    </div>
    <br />
    <div class="inputBox">
        <input type="submit" value="Reset Password">
    </div>
</form>
