@model IEnumerable<Webbanhangonline.Models.EF.LoaiSanPham>

@if (Model != null && Model.Any())
{
    <div class="row">
        <div class="col text-center">
            <div class="section_title new_arrivals_title">
                <h2>Sản phẩm mới</h2>
            </div>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col text-center">
            <div class="new_arrivals_sorting">
                <ul class="arrivals_grid_sorting clearfix button-group filters-button-group">
                </ul>
            </div>
        </div>
    </div>
}

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.grid_sorting_button').on('click', function () {
                var filterValue = $(this).data('filter');
                $('.product-item').hide(); // Hide all items
                $(filterValue).show(); // Show filtered items
                $('.grid_sorting_button').removeClass('active is-checked');
                $(this).addClass('active is-checked');
            });
        });
    </script>
}