@model IEnumerable<Webbanhangonline.Models.EF.DANHMUC>
@if (Model != null && Model.Any())
{
    <ul class="navbar_menu">
        @foreach (var item in Model)
        {
            if (item.Alias.Equals("trang-chu"))
            {
                item.Alias = "";
            }
            <li ><a href="/@item.Alias" style="font-size: 15px; padding-bottom:5px;">@item.TenDM</a></li>

        }
    </ul>
}